body {
  margin-top: 60px;
}

.latest-posts {
  min-width: 250px;
  width: 33%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.postform > form > textarea {
  resize: none;
  width: 100%;
  height: 10ch;
}

#div_PostList > div > .post {
  border: 1px solid #454545;
  margin: 5px;
}

#div_PriorityList > div > .post.priority {
  border: 2px solid #702323;
  background: #ffcccc;
}

#div_PostList > div > .post > .content {
  padding: 3px;
}

.postinfo {
  text-align: right
}

.postinfo > .username, .postinfo > .time {
  color: #232323;
  font-size: 11px;
  text-align: right;
  padding: 2px;
  display: inline;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #dedede;
  height: 30px;
}

.header > h1, .header > .usercontrol > h2{
  display: inline;
}

.header > h1 {
  font-size: 17px;
  margin-top: 7px;
  margin-left: 5px;
}

.header > .usercontrol {
  display: inline;
  right: 0;
  position: absolute;
}

.usercontrol > h2 {
  font-size: 14px;
  margin-right: 5px;
}

.communitylist {
  border: 2px solid #121212;
  position: absolute;
  top: 30px;
  right: 100px;
  transform: translate(50%, 0);
  display: none;
}
