<section class="card admin">
    <div class="textintro">
        <h1>Community Request</h1>
    </div>
    <div id="div_request_list" style="">
        <div ng-repeat="item in RequestList">
            <div id="NPost" class="post">
                <div class="content">
                    {{item.Email}}

                </div>
                <button type="submit" class="btn" style=" padding:1%;" data-ng-click="AcceptUser(item)">Accept</button>
                <button type="submit" class="btn" style="padding:1%;" data-ng-click="DeclineUser(item)">Decline</button>

            </div>
        </div>
    </div>


</section>