<section class="card admin">

    <div id="div_request_list" style="">
        <div ng-repeat="item in RequestList">
            <div id="NPost" class="post">
                <div class="content">
                    {{item.Email}}

                </div>
                <button type="submit" class="btn" style=" padding:1%;" data-ng-click="AcceptUser(item)">Accept</button>
                <button type="submit" class="btn" style="padding:1%;" data-ng-click="DeclineUser(item)">Decline</button>

            </div>
        </div>
    </div>

    <form name="myform"
          ng-submit=""
          novalidate>

        <div class="textintro">
            <h1>Join a community</h1>
            <p>To access site features</p>
            <p class="message" ng-show="message">{{ message }}</p>
        </div>

        <fieldset>
            <input type="text" name="Name" placeholder="Community Name"
                   ng-model="Community.Name" ng-required="true">
            <p class="error validationerror" ng-show="myform.Name.$invalid && myform.Name.$touched">Community Name is required</p>

        </fieldset>

        <button type="submit" class="btn"
                ng-disabled="myform.$invalid">Join Community</button>
    </form>

</section>