<section class="card community_registration">
    <form name="myform"
          ng-submit="create_community()"
          novalidate>

        <div class="textintro">
            <h1>Register a new community</h1>
            <p>To access site features</p>
            <p class="message" ng-show="message">{{ message }}</p>
        </div>

        <fieldset>
            <input type="text" name="Name" placeholder="Community Name"
                   ng-model="Community.Name" ng-required="true">
            <p class="error validationerror" ng-show="myform.Name.$invalid && myform.Name.$touched"> Name required</p>

            <input type="text" name="Community_Desciption" placeholder="Say Something about yourCommunity"
                   ng-model="Community.Community_Desciption" ng-required="true">
            <p class="error validationerror"
               ng-show="myform.Community_Desciption.$invalid && myform.Community_Desciption.$touched">
                Description required</p>
        </fieldset>

        <button type="submit" class="btn"
                ng-disabled="myform.$invalid">Create Community</button>
    </form>
</section>