<section class="card events">
    <script>
        function get_data(){
            console.log();
        }

    </script>
<div id="div_Event List">
    <h2 style="text-align: center;">Add a Payment</h2>
    <ul>
        <li ng-repeat="event in EventList"
            style="font-size: x-large; text-align: center; list-style: none">
            <div id="PPost">
                <h3>{{event.Name}}</h3>
                <h4>Address: {{event.Address.Street}} {{event.Address.City}} {{event.Address.Zip}}</h4>
                <h4>Date: {{event.Date}}</h4>
            </div>
        </li>
    </ul>
</div>

<BR>


    <form action="/action_page.php">
        Payment Date:
        <input type="date" id="date" model="user.date" name="maintenancedate" class="form-control" />

    </form>

    <div class="container">

        <form>

        <div class="form-group">
            <label for="maintenance">Description of Payment</label><br>
            <textarea id="description" class="form-control" rows=4"  id="maintenance"></textarea>
        </div>

        </form>



        <div class="form-group col-md-2 col-sm-2">
            <label>Total Bill Amount</label>
            <input type="text" id="bill_amount" placeholder='10' class="form-control" />
        </div>



        <div class="form-group col-md-2 col-sm-2">
                <label>Amount fully paid?</label>
                <select  class="form-control" id="fully" >

                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
        </div>
        <br>
        <button type="submit" ng-click="get_data()" class="btn" ng-disabled="myform.$invalid">Submit</button>
    </div>

    <div>
        <h2>Payment History</h2>
        <div id="div_PostList" style="">
            <div ng-repeat="item in TransList">
                <div id="NPost" class="post">
                    <div class="content">
                        Description: {{item.Description}}
                    </div>
                    <div class="postinfo">
                        <div class="username">
                            Amount: {{item.bill_amount}}
                        </div>
                        <div class="time">
                            Date: {{item.date}}
                        </div>
                        <div class="payed">
                            Payed: {{item.payed}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
