<div class="card meetings cf">

  <div class="textintro">
    <h1 style="margin: 0; display: inline-block;">Community Portal</h1>
    <button style="float: right; padding:1%;" class="btn"  ng-click="go_events_page()">Event Page</button>
  </div>
  <div class="postform">
    <form>
      <fieldset>
      <textarea></textarea>

      </fieldset>
      <button type="submit" class="btn" ng-click="publishPost($event)">Post!</button>
    </form>
  </div>
  <div id="div_PriorityList">
    <div ng-repeat="post in PriorityList">
      <div id="PPost" class="post priority">
        <div class="content">
          {{post.Title}}
        </div>
        <div class="postinfo">
          <div class="username">
            {{post.Creator.Name}}
          </div>
          <div class="time">
            {{post.TimeStamp * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="div_PostList" style="">
    <div ng-repeat="post in PostList">
      <div id="NPost" class="post">
        <div class="content">
          {{post.Title}}
        </div>
        <div class="postinfo">
          <div class="username">
            {{post.Creator.Name}}
          </div>
          <div class="time">
            {{post.TimeStamp * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div><!-- meetings cf -->
